src/main/mule/batchprocess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="42f5fca3-2b7a-4709-a44c-59fc627ac108" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Mysql@123" database="manju" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="3608fb6e-e716-4836-b69e-7632b0e69522" >
		<file:connection workingDir="C:\Users\HP\Desktop\manju hands on" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="53d07bcc-abc8-49b0-86c8-88837b9228ae" >
		<file:connection workingDir="C:\Users\HP\Desktop\manju hands on\output" />
	</file:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="a0356a3e-e5c8-4846-aa96-c32e7ca1b498" >
		<salesforce:basic-connection username="manjurajavel16@gmail.com" password="Mulesoft@123" securityToken="XGdJkBReTRmW3DpWWxessb7Ri" />
	</salesforce:sfdc-config>
	<flow name="batchprocessFlow" doc:id="50123b89-b02c-4489-8acc-5e9d0ede9e2f" >
		<file:listener doc:name="On New or Updated File" doc:id="d4ffe5e1-89fc-462a-88c3-d01783e08d51" config-ref="File_Config" autoDelete="true" moveToDirectory="C:\Users\HP\Desktop\manju hands on\output" directory="C:\Users\HP\Desktop\manju hands on\input" outputMimeType="application/csv">
			<scheduling-strategy >
				<fixed-frequency/>
			</scheduling-strategy>
		</file:listener>
		<batch:job jobName="batchprocessBatch_Job" doc:id="ca2cea61-564d-41d0-94ba-c975c5010567" maxFailedRecords="100">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="12f0d8f2-60b3-4c48-844f-4ca8fbb209d5" >
					<ee:transform doc:name="Transform Message" doc:id="2904b827-b1e3-4868-969d-bfbc538852dd" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload map ( payload01 , indexOfPayload01 ) -> {
	employeeid__c: payload01." employeeid ",
	name__c: payload01."      name       ",
	position__c: payload01."  position  ",
	registered__c: payload01." registered ",
	ssn__c: payload01."    ssn"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<salesforce:create type="nurse__c" doc:name="Create" doc:id="b0be403e-6aba-499c-8011-0f6e95dc5fb9" config-ref="Salesforce_Config" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="64943a31-05ee-44dd-be8a-23bfb424cc4d" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="f43c8f34-dd8e-4cc5-9e4e-619d518e799a" message='"aggregater":  #[payload]'/>
					</batch:aggregator>
					<logger level="INFO" doc:name="Logger" doc:id="c8595a63-3057-4d83-a088-ebfe5ff4c389" message='"step"'/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c164b4cb-6ccb-42bf-bdbc-5697528b9a0d" message='#["logger" ++ now()]'/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
